<!DOCTYPE html>
<html>

<head>
    <title>Dashboard Page</title>
    <link rel="stylesheet" href="../Static/Css/style.css">
</head>

<body>
    <h1 style="font-family: Verdana, 'Times New Roman', Times, serif; font-style: italic;">RESUME</h1>
    <hr>
    <p style="font-weight: bold;font-size: large;">
        Varun kumar<br>
        d/no.99 midugarapalli<br>
        hosur<br>
        909090909<br>
        vkr@gmail.com<br>
    </p>

    <hr>
    <p style="font-size: large;font-weight: bold;">CAREER OBJECTIVE</p>

    <p style="font-size: large;">To obtain a entry level psition in a organisation and work my way through.</p>
    <hr>
    <p style="font-size: large;font-weight: bold;">EDUCATION</p>

    <table style="color: rgb(20, 20, 18); width: 100%;">
        <tr>
            <th>Course</th>
            <th>Institute</th>
            <th>Year of Passing</th>
            <th>Percentage</th>
        </tr>
        <tr>
            <td>
                <center>Computer Science and Engineering</center>
            </td>
            <td>
                <center>Adhiyamaan College of Engineering</center>
            </td>
            <td>
                <center>2021</center>
            </td>
            <td>
                <center>75</center>
            </td>
        </tr>
        <tr>
            <td>
                <center>HSC</center>
            </td>
            <td>
                <center>S.D.A  School</center>
            </td>
            <td>
                <center>2017</center>
            </td>
            <td>
                <center>77</center>
            </td>
        </tr>
        <tr>
            <td>
                <center>SSLC</center>
            </td>
            <td>
                <center>S.D.A  School</center>
            </td>
            <td>
                <center>2015</center>
            </td>
            <td>
                <center>89</center>
            </td>
        </tr>
    </table>
    <hr>
    <p style="font-weight: bold;font-size: large;">TECHNICAL SKILLS</p>
    <hr>
    <p style="font-size: large;">1.C Programming<br>2.C++<br>3.Data Structure</p>
    <hr>
    <p style="font-weight: bold;font-size: large;">WORKSHOP</p>
    <hr>
    <p style="font-size: large;">Participated in "IMAGE PROCESSING TECHNIQUES" abc colleg</p>
    <hr>
    <p style="font-size: large;font-weight: bold;">INTERESTS</p>
    <hr>
    <p style="font-size: large;">ethical hacking</p>
    <hr>
    <p style="font-weight: bold;font-size: large;">PERSONAL PROFILE</p>
    <hr>
    <p style="font-size: large;">Date of Birth : 29/09/1999<br> Father's Name : Vijayakumar.R<br> Known language :
        Tamil,English,kannada<br> Mother's Name : Rathna.V<br> Address : hosur,krishnagiri</p>
    <hr>
    <p style="font-size: large;font-weight: bold;">DECLARATION</p>
    <hr>
    <p style="font-size: large;">I hereby declare that the details furnished above are true to the best of my Knowledge.
    </p>
</body>

</html>