<!DOCTYPE html>
<html>
    <head>
        <title>First Page</title>
        <link rel="stylesheet" href="../Static/Css/style.css">
        <style>
          ul li{
            list-style: none;
            display: inline-flex;
            margin: 0 25px;
          }
          ul li a{
            font-size: 12px;
                text-decoration: none;
                color: rgb(34, 31, 31);;
                font-weight: 700;
          }
          .name ul{
            float:right;
          }
        </style>
    </head>
    <body style="background-image: url(../Static/images/3.png);background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">
        
      
      <div class="name">
        
        <form>
          <h1 style="font-family: Verdana, 'Times New Roman', Times, serif; font-style: italic; color: rgb(230, 54, 10);">RESUME VIEWER</h1>
          <hr>
          <ul>
          <li><a href="Homepage.html" target="_blank">Home</a></li>
          <li><a href="login.html" target="_blank">Login</a></li>
          <li><a href="register.html" target="_blank" >Register</a></li>
        </ul>
      </form>
        
        </div>  
    </body>
</html>