<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="../Static/Css/style.css">
        <style>
            form{
			margin-top: 3%;
			margin-left: 40%;
			padding: 50px;
            background-color: transparent;
			height: 150px;
			width: 200px;
			box-shadow: 100%;
		}
        </style>
    </head>
    <body style="background-image: url(../Static/images/2.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size: cover;">
        <div class="name1">
            
            <form action="dashboard.html" target="_blank">
                <center></center><br><br>
                <label>Username:</label><input type="text" name="user"  placeholder="Enter Username" required ><br><br><br>
                <label>Password:</label><input type="password" name="pass"  placeholder="Enter Password" required><br><br><br>
                <center><button>Submit</button></center><br>
                <label>Doesnt have an account?</label>
                  <a href="register.html" style="color:rgb(219, 54, 3)">Click here</a>
                
            </form>
        </div>
    </body>
</html>